.cookies {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    line-height: 1.8rem;
    padding: 1rem;
    color: #fff;
    background-color: #000;

    &__text {
        width: 70%;
        text-align: justify;
        font-size: 1.2rem;
        padding: 5px;

        @include medium {
            width: 90%;
            text-align: center;
        }
    }

    &__close {
        width: 30%;
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 5px;
        text-align: center;

        @include medium {
            width: 10%;
        }

        & a {
            font-size: 1.6rem;
            &:hoover {
                color: red;
            }
        }
    }
}